#div1 {
  background-image: url("https://picsum.photos/id/237/200/300");
  height: 300px;
  width: 200px;
  margin: 20px;
  background-size: cover;
  background-position: center;
}

#div2 {
  background-image: url("https://picsum.photos/seed/picsum/200/300");
  height: 300px;
  width: 200px;
  margin: 20px;
  background-size: cover;
  background-position: center;
}

#div3 {
  background-image: url("https://picsum.photos/200/300?grayscale");
  height: 300px;
  width: 200px;
  margin: 20px;
  background-size: cover;
  background-position: center;
}

#div4 {
  background-image: url("https://picsum.photos/200/300/");
  height: 300px;
  width: 200px;
  margin: 20px;
  background-size: cover;
  background-position: center;
}

#div5 {
  background-image: url("https://picsum.photos/200/300.jpg");
  height: 300px;
  width: 200px;
  margin: 20px;
  background-size: cover;
  background-position: center;
}

#div6 {
  background-image: url("https://picsum.photos/id/102/200/300");
  height: 300px;
  width: 200px;
  margin: 20px;
  background-size: cover;
  background-position: center;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.image {
  cursor: move;
  background-repeat: no-repeat;
}

.image.dragging {
  opacity: 0.5;
  border: 2px solid #000;
}

.image.over {
  border: 2px dashed #00f;
}